<div class="leftPanel">
    File editor

    <div class="divForFontChangingButtons">
        <div class="fontChangingButton" onclick="fontplus()">
            Font +
        </div>
        <div class="fontChangingButton" onclick="fontminus()">
            Font -
        </div>
    </div>
    <div class="changeColor" onclick="">
        Change color
    </div>
    <div class="saveChanges" onclick="">
        Save changes
    </div>
    <div class="renameFile" onclick="">
        Rename file
    </div>

</div>
<div class="rightPanel">
    <div class="filePathDiv">
        {{#each filePath}}

        {{#if @first}}
        <a class="filePath" href="/files{{path}}"><img src="/icons/home.png" alt="home" class="homeIcon"></a>
        {{else}}
        <a class="filePath" href="/files{{path}}">{{ name }}</a>
        {{/if}}

        {{/each}}
    </div>
    <label for="editor">Editor:</label>
    <div class="divForTextarea">
        <textarea name="linesNumbers" id="linesNumbers" class="linesNumbers" readonly spellcheck="false"
            wrap="hard"></textarea>
        <textarea name="editor" id="editor" class="editor" rows="10">{{text}}</textarea>
    </div>
    <script src="/scripts/textarea.js"></script>
    <div class="saveFile" onclick="">
        Save file
    </div>
</div>