<div class="topPanel">
    <form action="/" method="GET">
        <input class="filemanager" type="submit" value="FILEMANAGER">
    </form>
    <form action="/logout" method="post">
        <button class="logout" type="submit"><img src="/icons/logout.png" alt="logout"
                class="img-logout">LOGOUT</button>
    </form>
</div>
<div class="bottomPanel">
    <div class="leftPanel">
        Image editor

        <div class="renameFile" onclick="renameFile()">
            Rename file
        </div>

        <div class="filtersButton" onclick="slideFilters()">
            Filters
        </div>

        <div class="filters">
            <div class="filter" onclick="filter('grayscale')">
                <span>Grayscale</span>
                <canvas id="grayscale" width="100" height="100"></canvas>
            </div>

            <div class="filter" onclick="filter('invert')">
                <span>Invert</span>
                <canvas id="invert" width="100" height="100"></canvas>
            </div>

            <div class="filter" onclick="filter('sepia')">
                <span>Sepia</span>
                <canvas id="sepia" width="100" height="100"></canvas>
            </div>

            <div class="filter" onclick="filter('clear')">
                <span>Clear filters</span>
                <canvas id="none" width="100" height="100"></canvas>
            </div>
        </div>

        <a href="/showFile/{{imgPath}}" class="showImage">Show image</a>
    </div>
    <div class="rightPanel">
        <div class="filePathDiv">
            {{#each filePath}}

            {{#if @first}}
            <a class="filePath" href="/files{{path}}"><img src="/icons/home.png" alt="home" class="homeIcon"></a>
            {{else}}
            {{#if @last}}
            <a class="filePath" href="/imgEditor{{path}}" id="file_path">{{ name }}</a>
            {{else}}
            <a class="filePath" href="/files{{path}}">{{ name }}</a>
            {{/if}}
            {{/if}}

            {{/each}}
        </div>

        <div class="divForCanvas">
            <canvas id="canvas" id="canvas"></canvas>
        </div>

        <script src="/scripts/imgeditor.js"></script>
        <script>
            let imgPath = "{{ imgPath }}";

            drawImage(imgPath);
            drawFilters();
        </script>

        <div class="saveImage" onclick="saveImage()">
            Save image
        </div>
    </div>
</div>